*{
    margin: 0;
    padding: 0;
}

.btn-fp {
    display: block;
    width: 100%;
    height:fit-content;
    padding: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    -webkit-appearance: none;
    background: rgb(22, 200, 177);
    transition: 0.3s;
    text-align:center;
}