.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
  }
  .card-registration .select-arrow {
    top: 13px;
  }

  /* .list{
    border: 2px solid black;
  } */

  .form-outline{
    border-radius: 15px;
    background-color: rgb(233, 229, 229);

  }

 